ENV=PROD
#Replace with your host, domain or ip here ...
REACT_APP_SP_API_BASE_URL=http://localhost
REACT_APP_SP_FRONT_BASE_URL=http://localhost/stage_player/index.html
BROWSER=none
REACT_APP_SPOTIFY_BASE_URL=https://api.spotify.com
BUILD_PATH=build






